body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    background: #0b1522;
    font-family: Arial, sans-serif;
justify-content: center;
align-items: center;



}
.heart{
    height: 200px ;
    width: 200px;
    border: 1px solid black;
    margin-left: 100px;

    align-items: center;
    background: #f20044;
    position: relative;
    transform: rotate(-45deg);
    box-shadow: -10px 10px 90px #f20044;
    animation: heart 0.6s linear infinite;
}
@keyframes heart{
    0%{
        transform: rotate(-45deg) scale(1.07);
    }
    80%{
        transform: rotate(-45deg) scale(1.0);
    }
    100%{
        transform: rotate(-45deg) scale(1.07);
    }
}
.heart::before{
    content: '';
    width: 200px;
    height: 250px;
    background: #f20044;
    position: absolute;
    top: -80%;
    border-radius: 100px;
    box-shadow: -10px -10px 90px #f20044;

}
.heart::after{
    content: '';
    width: 250px;
    height: 200px;
    margin-bottom: -1000px;
    background: #f20044;
    position: absolute;
    right: -80%;
    border-radius: 100px;
    box-shadow: -10px 10px 90px #f20044;

}
p{
    background-color: #0b1522;
    margin-top: 50%;
}





  /* Style de base pour le body et la navigation */

/* Style de la barre de navigation */
.navbar {
  background-color: #0b1522;
  overflow: hidden;
  margin-bottom: 940px;
  margin-right: -200px;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.navbar li {
  display: inline;
  padding: 14px 20px;
}

.navbar a {
  color: #f20044;
  text-decoration: none;
  font-size: 18px;
  display: block;
  text-align: center;
}

.navbar a:hover {
  background-color: #f20044;
  color: #0b1522;
}
